{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>ssss sssss
    {{ name }}
    {% for item in list_data %}{# for // 循环 #}
        <li>{{ item }}--{{ forloop.counter }}--{{ forloop.counter0 }}</li>
        {#            <li>{{ item }}+{{ forloop.revcounter }}+{{ forloop.revcounter0 }}<li>#}
        {% if forloop.first %}
            list go
        {% elif forloop.last %}
            give over

        {% endif %} {# {% endif % }// if判断结尾#}
    {% empty %}
        {# {% empty %} //空值判断 #}
        当前为空值输出

    {% endfor %}{# for 循环结束 #}
</p>>
<a ="D:\11031840\Desktop\功能测试\Django\Django4 课件\Django4 课件\di-ba-zhang-ff1a-cookie-he-session.html">Django文档</a>
<a href="https://pms.sfygroup.com/pms/coframe/auth/skin3/index.jsp">aaa</a>
<img src="{% static '/images/aaa.png' %}">
</body>
</html>